.itemBold{
    font-weight: bold;
}

.exName{
    font-weight: bold;
    color: #000000;
    font-size: 14px;
}


.head, .cell{
    border: 1px solid #e6e6e6;
    font-size: 14px;
}

.cell{
    transition: background-color 1s; 
}


.dropdown{
    width: 200px;
}

@media screen and (max-width: 600px) {
    .head, .cell{
        font-size: 12px;
    }
}